*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/image/login/background.png");
    background-size: cover;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 30px 0px;
}

.button{
    display: flex;
    gap: 20px;
}

.button button{
    border: 1px solid;
    width: 145px;
    height: 46px;
    border-radius: 35px;
}

#login{
    background: transparent;
    color: white;
    font-weight: 600;
}

#register{
    background: #0081C9;
    color: white;
    border: none;
    font-weight: 600;
}

#login:hover{
    background: #FFC93C;
    cursor: pointer;
    border: none;
    color: black;
}

#register:hover{
    background: #FFC93C;
    cursor: pointer;
    border: none;
    color: black;
}

.center{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    gap: 100px;
    padding: 100px 0px 0px;
}

.center img{
    width: 700px;
    height: 600px;
}

.center-text p{
    font-size: 75px;
    font-weight: bold;
}

.content{
    display: flex;
}

.textcontainer{
    display: flex;
    align-items: center;
}

.text{
    width: 450px;
    height: 321px;
}

footer {
    position: absolute;
    top: 73%;
    width: 80%;
    height: 80%;
    z-index: -1;
}

