*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Logo */
.logo a img{
    display: flex;
    padding: 4vh 1.5vw 0;
}
body{
    position: absolute;
    background: url(../image/register/Template.png);
    background-size: cover;
    background-repeat: none;
}
/* Wrapper */
.form-wrapper{
    background-color: #FFFFFF;
    border-radius: 18px;
    width: 40vw;
    height: 95vh;
    padding: 5vh 6vw;
    margin: 2vh 23vw 0 23vw;
    box-shadow: 0 0 16px black;
}

/* Header or Title */
.form-wrapper .title h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #0081C9;
    margin: 3vh 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.form-wrapper .title p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #707070;
    margin: 2vh 0 2.5vh 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
/* FirstName & LastName*/
.form-wrapper .form .first-last{
    display: flex;
    justify-content: space-between;
}
.form-wrapper .form .first-last .first-name{
    width: 18vw;
    height: 10vh;
}
.form-wrapper .form .first-last .last-name{
    width: 18vw;
    height: 10vh;
    margin: 0 0 1vh 0;
}
/* FirstName, LastName */
.form .first-name label, .form .last-name label{
    display: flex;
    font-style: normal;
    color: #0081C9;
    font-weight: 600;
    margin: 1vh 0;
    font-size: 1rem;
}
.form .first-name input, .form .last-name input{
    display: flex;
    font-style: normal;
    color: #707070;
    border: 2px solid #E3E3E3;
    padding: 2vh 1vw;
    margin: 0 0 1vh 0;
    border-radius: 6px;
    font-weight: 400;
    font-size: 1rem;
    width: 16vw;
}
/* Email */
.form .e-mail label{
    display: flex;
    font-style: normal;
    color: #0081C9;
    font-weight: 600;
    margin: 3.5vh 0 1vh 0;
    font-size: 1rem;
}
.form .e-mail input{
    display: flex;
    font-style: normal;
    color: #707070;
    border: 2px solid #E3E3E3;
    padding: 2vh 1vw;
    border-radius: 6px;
    font-weight: 400;
    font-size: 1rem;
    width: 38vw;
}
/* Password - Confirm Password */
.form .password label, .form .password-confirm label{
    display: flex;
    font-style: normal;
    color: #0081C9;
    font-weight: 600;
    margin: 3.5vh 0 1vh 0;
    font-size: 1rem;
}
.form .password input, .form .password-confirm input{
    display: flex;
    font-style: normal;
    color: #707070;
    border: 2px solid #E3E3E3;
    padding: 2vh 1vw;
    border-radius: 6px;
    font-weight: 400;
    font-size: 1rem;
    width: 38vw;
}
/* next-button */
.form-wrapper .next{
    display: flex;
    justify-content: flex-end;
    margin: 1vh 0;
}

.form-wrapper .next button{
    display: flex;
    background-color: #FFC93C;
    border: none;
    border-radius: 8px;
    margin: 3.5vh 0;
    padding: 2vh 2.5vw;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 0 0 4px #707070;
}
.form-wrapper .next button:hover{
    transition: 0.5s;
    background-color: #0081C9;
    color: white;
    border: none;
}
/* Footer */
footer{
    position: absolute;
}
footer img{
    width: 98.75vw;
    height: 25vh;
}
/* Visibility */
.visibility{
    display: flex;
    position: absolute;
    right: 4%;
    top: 51.5%;
}
.visibility2{
    display: flex;
    position: absolute;
    right: 7%;
    top: 72%;
}
.visibility i{
    display: flex;
    cursor: pointer;
}
#hide1{
    display: none;
}
.visibility2 i{
    position: absolute;
    cursor: pointer;
}
#hide3{
    display: none;
}
/* Error msg */
.errormsg{
    color: red;
    text-align: center;
    font-size: 16px;
}
/* Register 2/2 or Register II */
/* Username & Phone Number*/
.form2 .u-name label, .form2 .phone label{
    display: flex;
    font-style: normal;
    color: #0081C9;
    font-weight: 600;
    margin: 4vh 0 1vh 0;
    font-size: 1rem;
}
.form2 .u-name input, .form2 .phone input{
    display: flex;
    font-style: normal;
    color: #707070;
    border: 2px solid #E3E3E3;
    padding: 2vh 1vw;
    border-radius: 6px;
    font-weight: 400;
    font-size: 1rem;
    width: 38vw;
}
/* POB & DOB*/
.form-wrapper .form2 .place-date{
    display: flex;
    justify-content: space-between;
    margin: 3.5vh 0 1vh 0;
}
.form-wrapper .form2 .place-date .birth-place{
    width: 18vw;
    height: 10vh;
}
.form-wrapper .form2 .place-date .birth-date{
    width: 18vw;
    height: 10vh;
}
/* POB & DOB*/
.form2 .birth-place label, .form2 .birth-date label{
    display: flex;
    font-style: normal;
    color: #0081C9;
    font-weight: 600;
    margin: 1vh 0;
    font-size: 1rem;
}
.form2 .birth-place input, .form2 .birth-date input{
    display: flex;
    font-style: normal;
    color: #707070;
    border: 2px solid #E3E3E3;
    padding: 2vh 1vw;
    margin: 0 0 1vh 0;
    border-radius: 6px;
    font-weight: 400;
    font-size: 1rem;
    width: 16vw;
}
/* Gender */
.form-wrapper .gender p{
    display: flex;
    font-style: normal;
    color: #0081C9;
    font-weight: 600;
    margin: 3.5vh 0;
    font-size: 1rem;
}
.form-wrapper .gender label{
    color: #707070;
    font-size: 1rem;
    margin: 0 5vw 0 0;
}
.form-wrapper .gender input{
    font-size: 5rem;
    margin: 0 0.5vw 4vh 0;
}
/* Back and Submit button */
.form-wrapper .back-submit{
    display: flex;
    justify-content: space-between;
}
/* Back */
.form-wrapper .back-submit .back button{
    display: flex;
    color: black;
    background-color: #FFC93C;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    margin: 3.5vh 0;
    padding: 2vh 2.5vw;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 0 0 4px #707070;
}
.form-wrapper .back-submit .back button:hover{
    transition: 1s;
    background-color: #195bff;
    color: #FFFFFF;
}
/* Submit */
.form-wrapper .back-submit .submit button{
    display: flex;
    color: black;
    background-color: #FFC93C;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    margin: 3.5vh 0;
    padding: 2vh 2.5vw;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 0 0 4px #707070;
}
.form-wrapper .back-submit .submit button:hover{
    transition: 1s;
    background-color: #195bff;
    color: #FFFFFF;
}
/* Register page 1 */
#register1{
    position: relative;
}
/* Register page 2 */
#register2{
    position: relative;
    display: none;
}
