*{
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
}
/* Logo */
.logo a img{
    display: flex;
    padding: 4vh 1.5vw 0;
}
body{
    position: absolute;
    background: url(../image/register/Template.png);
    background-size: cover;
    background-repeat: none;
}
/* Wrapper */
.form-wrapper{
    background-color: #FFFFFF;
    border-radius: 18px;
    width: 40vw;
    height: 85vh;
    padding: 5vh 6vw;
    margin: 2vh 23vw 0 23vw;
    box-shadow: 0 0 16px black;
}

/* Header or Title */
.form-wrapper .title h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #0081C9;
    margin: 3vh 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.form-wrapper .title p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #707070;
    margin: 2vh 0 2.5vh 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
/* FirstName & LastName*/
.form-wrapper .form .first-last{
    display: flex;
    justify-content: space-between;
}
.form-wrapper .form .first-last .first-name{
    width: 18vw;
    height: 10vh;
}
.form-wrapper .form .first-last .last-name{
    width: 18vw;
    height: 10vh;
    margin: 0 0 1vh 0;
}
/* FirstName, LastName */
.form .first-name label, .form .last-name label{
    display: flex;
    font-style: normal;
    color: #0081C9;
    font-weight: 600;
    margin: 1vh 0;
    font-size: 1rem;
}
.form .first-name input, .form .last-name input{
    display: flex;
    font-style: normal;
    color: #707070;
    border: 2px solid #E3E3E3;
    padding: 2vh 1vw;
    margin: 0 0 1vh 0;
    border-radius: 6px;
    font-weight: 400;
    font-size: 1rem;
    width: 16vw;
}
/* Email */
.form .e-mail label{
    display: flex;
    font-style: normal;
    color: #0081C9;
    font-weight: 600;
    margin: 3.5vh 0 1vh 0;
    font-size: 1rem;
}
.form .e-mail input{
    display: flex;
    font-style: normal;
    color: #707070;
    border: 2px solid #E3E3E3;
    padding: 2vh 1vw;
    border-radius: 6px;
    font-weight: 400;
    font-size: 1rem;
    width: 38vw;
}
/* Password - Confirm Password */
.form .password label, .form .password-confirm label{
    display: flex;
    font-style: normal;
    color: #0081C9;
    font-weight: 600;
    margin: 3.5vh 0 1vh 0;
    font-size: 1rem;
}
.form .password input, .form .password-confirm input{
    display: flex;
    font-style: normal;
    color: #707070;
    border: 2px solid #E3E3E3;
    padding: 2vh 1vw;
    border-radius: 6px;
    font-weight: 400;
    font-size: 1rem;
    width: 38vw;
}
/* next-button */
.form-wrapper .next{
    display: flex;
    justify-content: flex-end;
    margin: 1vh 0;
}

.form-wrapper .next button{
    display: flex;
    background-color: #FFC93C;
    border: none;
    border-radius: 8px;
    margin: 3.5vh 0;
    padding: 2vh 2.5vw;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 0 0 4px #707070;
}
.form-wrapper .next button:hover{
    transition: 0.5s;
    background-color: #0081C9;
    color: white;
    border: none;
}
/* Footer */
footer{
    position: absolute;
}
footer img{
    width: 98.75vw;
    height: 25vh;
}
/* Visibility */
.visibility{
    display: flex;
    position: absolute;
    left: 67%;
    top: 50.5%;
}
.visibility2{
    display: flex;
    position: absolute;
    left: 67%;
    top: 63%;
}
.visibility i{
    display: flex;
    cursor: pointer;
}
#hide1{
    display: none;
}
.visibility2 i{
    position: absolute;
    cursor: pointer;
}
#hide3{
    display: none;
}
