*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("/image/login/background.png");
    background-size: cover;
}

nav{
    height: 84px;
    background: #0D2A39;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.profile-pitcure{
    width: 56px;
    height: 56px;
    border-radius: 60px;
    margin-right: 32px;
}

.center{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 650px;
    height: 736px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
    padding: 73px;
    margin: 124px 0px 0px 0px;
}

.center h1{
    font-size: 40px;
    color: #0081C9;
    text-align: center;
    margin: 0px 0px 17px 0px;
}

.content{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    color: #0081C9;
    font-weight: 600;
}

#report{
    margin: 10px 0px;
    border: 2px solid #E3E3E3;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    height: 423px;
    resize: none;
}

#button{
    display: flex;
    justify-content: flex-end;
}

#button button{
    background: #FFC93C;
    border-radius: 8px;
    text-align: center;
    color: #11384D;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    height: 53px;
    width: 135px;
    border: none;
}

footer img{
    position: absolute;
    top: 105%;
    width: 100%;
    z-index: -1;
}
